.fieldset {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    border: 1px solid ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    margin-left: 25px;
}

.fieldset__label {
    width: 200px;
    max-width: 100%;
    display: inline-block;
    padding: 10px;
    margin-left: 15%;
    margin-bottom: 5%;
}

.fieldset__labeldata {
    width: 200px;
    max-width: 100%;
    display: inline-block;
    padding: 5px;
    background-color: rgb(5, 177, 177);
    color: white;
    text-align: center;
}

.fieldset__legend {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.fieldset {
    border: none;
}

.fieldset__button {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10%;
    width: 150px;
    max-width: 100%;
}

.fieldset__button:hover {
    background-color: rgb(7, 143, 143);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.fieldset__button:active {
    background-color: rgb(12, 221, 221);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}